.Table {
  font-size: 1rem;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

.Table td, .Table th {
  line-height: 2em;
  padding: 0 0.75em;
  border: 1px rgba(255, 255, 255, 0.75) solid;
}

.Table th {
  padding: 0.75em 0.75em;
  border-bottom-width: 2px;
}